

.main {
  display: flex;
  flex-flow: column;
  min-height: 100%;

  & header {
    flex: 0 1 80px;
  }

  & main {
    flex: 1 1 0;
    overflow-y: auto;
    top: 80px;
  }

  & footer {
    flex: 0 1 80px;
  }
}